 @using Domain.CommonServices
@using Domain.Entity.Inventory

@model ProductImage

<form method="post" id="SaveProductImageForm">
     
    <div class="row gy-3 gx-2">
        <div class="col-sm-4">
            <input type="file" class="file-input form-control form-control-sm form-rounded" id="fileInput" />
            <div class="image-uploader">
                <div class="image-preview">
                    <img src="" alt="Selected Image" style="width: 100px; height: 100px;" />
                    <button type="button" class="remove-button" onclick="RemoveImage()">X</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <select asp-for="BodyPartName" class="form-control form-control-sm form-rounded fw-semi-bold">
                <option value="">Select Body Part</option>
                @foreach (var item in Model.BodyParts)
                {
                    <option value="@item.BodyPartName">@item.BodyPartName</option>
                }
            </select>
            <span asp-validation-for="BodyPartName" class="text-left invalid-message-color"></span>
        </div>
        <div class="col-sm-4">
            <div class="d-flex gap-2 flex-between-center">
                <input asp-for="Position" class="form-control form-control-sm form-label fw-semi-bold" id="Details" type="text" placeholder="Position" />
                <input asp-for="ProductId" type="hidden" />
                <button type="button" class="btn btn-outline-primary btn-sm" id="SaveProductImageButton" onclick="saveProductImage()">
                    @(Model.ProductMediaId > 0 ? "Update" : "Add")
                </button>
            </div>
        </div>
    </div>
</form>

<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script>
    function saveProductImage() {
        const form = $('#SaveProductImageForm');
        const submitButton = $('#SaveProductImageButton');

        // Disable the button to prevent multiple clicks
        submitButton.prop('disabled', true);

        $.ajax({
            url: '@Url.Action("SaveProductImage", "Product")', // Replace "ControllerName" with your actual controller name
            type: 'POST',
            data: form.serialize(),
            success: function (result) {
                $('#ShowProductImagesContainer').html(result);
                showSuccessToast('@MessageManager.SaveSuccess'); // Optional: Display success toast
            },
            error: function (xhr) {
                if (xhr.status === 400) {
                    $('#ProductImageAddContainer').html(xhr.responseText); // Show validation errors
                    showDangerToast('@MessageManager.SaveFaild');
                } else if (xhr.status === 409) {
                    $('#ProductImageAddContainer').html(xhr.responseText);
                } else {
                    showDangerToast('@MessageManager.SaveFaild');
                }
            },
            complete: function () {
                submitButton.prop('disabled', false);
            }
        });
    }
</script>
