@using Domain.Entity.Inventory
@model List<ProductImage>
@if (Model?.Count() > 0)
{
    <div class="row gx-2 flex-between-center mb-3">
        <div class="col-sm-3">Images</div>
        <div class="col-sm-3">Body Part</div>
        <div class="col-sm-3">Position</div>
        <div class="col-sm-2">Action</div>
    </div>
    @foreach (var img in Model)
    {
        <div class="row gx-2 flex-between-center mb-3">
            <div class="col-sm-3">
                <div class="avatar avatar-4xl">
                    @if (!string.IsNullOrEmpty(img.ImageUrl))
                    {
                        <img class="rounded-circle" src="@img.ImageUrl" alt="" />
                    }
                    else
                    {
                        <img src="/assets/commonimage/no-image.png" />
                    }
                </div>
            </div>
            <div class="col-sm-3">
                <div class="d-flex flex-between-center">
                    <h6 class="mb-0 text-700">@img.BodyPartName</h6>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="d-flex flex-between-center">
                    <h6 class="mb-0 text-700">@img.Position</h6>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="d-flex flex-between-center">
                    <button class="btn btn-falcon-default btn-sm" type="button" onclick="LoadImageEditModeData('@img.ProductMediaId')">
                        <span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span>
                    </button>
                    <a class="btn btn-sm btn-link text-danger" onclick="DeleteImagesItem('@img.ProductMediaId')">
                        <span class="fs-10 fas fa-trash-alt"></span>
                    </a>
                </div>
            </div>
        </div>
    }
}